<!DOCTYPE html>
<html>
  <head>
    <style>
      * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      html {
        font-family: Arial, Helvetica, sans-serif;
        color: #37474f;
      }

      body {
        margin: 0px;
      }

      h1,
      h2 {
        text-align: center;
      }

      table {
        border-spacing: 0;
        width: 100%;
      }

      thead th {
        font-size: 16px;
        font-weight: bold;
        padding: 16px;
        background-color: #37474f;
        color: white;
      }

      tbody tr td {
        font-size: 13px;
        border-bottom: 1px solid #cfd8dc;
        background-color: #fff;

        padding: 8px 16px;
      }

      .heading {
        padding: 16px;
        color: #fff;
        background-color: #0033cc;
      }

      .heading__title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -140px;
      }

      .heading__img {
        margin-right: 40px;
      }

      .info {
        padding: 40px;
        background-color: #eee;
      }

      .info__title {
        display: flex;
        width: 300px;
        padding: 16px 40px;
        background-color: #37474f;
        color: #fff;
        margin-bottom: 4px;
      }

      .info__title > * {
        width: 50%;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <div class="heading">
      <div class="heading__title">
        <img width="100px" class="heading__img" src="./ntt-logo.PNG" alt="" />
        <h1>Red Hat 7 Hardening Compliance Report</h1>
      </div>
      <h2>Details</h2>
    </div>

    <div class="info">
      {% set host = hostvars[inventory_hostname]['ansible_host'] %}
      {% if hostvars[host]['ubuntu_hardening_compliance_baseline'] is defined and hostvars[host]['ubuntu_hardening_compliance_baseline_data'] is defined and hostvars[host]['ubuntu_rules'] is defined %}

      <div class="info__title">
        <div>Hostname:</div>
        <div>{{ host }}</div>
      </div>
      <div class="info__title">
        <div>IP:</div>
        <div>{% if hostvars[host]['ansible_default_ipv4'] is defined and hostvars[host]['ansible_default_ipv4']['address'] is defined %}
				{{ hostvars[host]["ansible_default_ipv4"]["address"] }}
				{% endif %}
		</div>
      </div>

      <table>
        <thead>
          <tr>
            <th>Rule No.</th>
            <th>Status</th>
            <th>Expected Value</th>
            <th>Actual Value</th>
          </tr>
        </thead>
        <tbody>
          {% for baseline_key in hostvars[host]['ubuntu_hardening_compliance_baseline'] %}
          {% set baseline_item = hostvars[host]['ubuntu_hardening_compliance_baseline_data'][baseline_key] %}
          {% set ubuntu_rule_key = baseline_item['rule'] %}
          {% if ubuntu_rule_key and hostvars[host]['ubuntu_rules'][ubuntu_rule_key] is defined %}
          <tr>
            <td>
              {{ baseline_item["section_number"] }}
              {{ baseline_item["description"] }}
            </td>
            <td>{{ baseline_item["compliance"] }}</td>

            <td>
              {% if hostvars[host]['ubuntu_rules'][ubuntu_rule_key]['expected_values'] is defined %}
              {% for expected_value in hostvars[host]['ubuntu_rules'][ubuntu_rule_key]['expected_values'] %}
              - {{ expected_value }}<br />
              {% endfor %}
              {% endif %}
            </td>

            <td>
              {% if hostvars[host]['ubuntu_rules'][ubuntu_rule_key]['actual_values'] is defined %}
              {% for actual_value in hostvars[host]['ubuntu_rules'][ubuntu_rule_key]['actual_values'] %}
              - {{ actual_value }}<br />
              {% endfor %}
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

      <h2>Risk Register</h2>
      <table>
        <thead>
          <tr>
            <th>Hostname</th>
            <th>Rule No.</th>
            <th>Accepted Value</th>
            <th>Date Approved</th>
            <th>Approved By</th>
          </tr>
        </thead>
        <tbody>
          {% if hostvars[inventory_hostname]['ubuntu_risk_register'] is defined %}
          {% set host_key = hostvars[inventory_hostname]['ansible_host'] %}
          {% if host_key in hostvars[inventory_hostname]['ubuntu_risk_register'] %}
          {% for baseline_key in hostvars[inventory_hostname]['ubuntu_risk_register'][host_key] %}
          {% set risk_register_item = hostvars[inventory_hostname]['ubuntu_risk_register'][host_key][baseline_key] %}
          {% if hostvars[inventory_hostname]['ubuntu_hardening_compliance_baseline_data'] is defined and hostvars[inventory_hostname]['ubuntu_hardening_compliance_baseline_data'][baseline_key] is defined %}
          {% set baseline_item = hostvars[inventory_hostname]['ubuntu_hardening_compliance_baseline_data'][baseline_key] %}
          <tr>
            <td>{{ host_key }}</td>
            <td>
              {{ baseline_item["section_number"] }}
              {{ baseline_item["description"] }}
            </td>
            <td>
              {% if risk_register_item['accepted_values'] is defined %}
              {% for accepted_value in risk_register_item['accepted_values'] %}
              - {{ accepted_value }}<br />
              {% endfor %}
              {% endif %}
            </td>
            <td>{{ risk_register_item["date_approved"] }}</td>
            <td>{{ risk_register_item["approved_by"] }}</td>
          </tr>
          {% endif %}
          {% endfor %}
          {% else %}
          <tr>
            <td>{{ host_key }}</td>
            <td>Sample Rule 1</td>
            <td>Sample Value 1</td>
            <td>DD-MM-YYYY</td>
            <td>Sample Approver</td>
          </tr>
          {% endif %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </body>
</html>
